:root {
  --red:#E63946; /* 230, 57, 70 */
  --cream: #F1FAEE; /* 241, 250, 238 */
  --light-blue: #A8DADC; /* 168, 218, 220 */
  --blue: #457B9D; /* 69, 123, 157 */
  --dark-blue: #1D3557; /* 69, 123, 157 */
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.container img {
  position: relative;
  width: 320px;
  height: auto;
}

.container a {
  position: relative;
  width: inherit;
}

.description {
  position: absolute;
  background-color: rgba(69, 123, 157, 0.8);
  color: #fff;
  width: 100%;
  bottom: 15px;
  height: 40px;
}

.description p {
  font-size: 20px;
  margin: 5px 15px;
  font-weight: bold;
}

.container:after {
  content: "";
  background-color: var(--red);
  width: 100%;
  height: 6px;
}

