.modalContainer {
  z-index: 2;
}

.closeModalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
  font-family: 'Roboto', monospace;
  z-index: 1;
}

.modalContent {
  background-color: var(--cream);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
