.container {
  border: 1px solid black;
  /* display: block; */
  /* position: relative; */
  /* padding-left: 35px; */
  /* margin-bottom: 12px; */
  /* cursor: pointer; */
  font-size: 22px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  color: yellow;
}

